<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="open.source.iconfont">

    <application>
        <provider
            android:name=".AppCompatUtils"
            android:authorities="${applicationId}.icon-font.appcompat-utils"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>